<!doctype html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <title>스프링 부트 웹서비스</title>
</head>
<body>
    <h1>Spring boot starter web service</h1>
</body>
</html>